.app-sidenav-container {
  width: 100vw;
  height: 100%;

  .app-sidenav {
    width: 350px;
    box-sizing: border-box;
    height: 100%;

    ::ng-deep .mat-drawer-inner-container {
      overflow: hidden;
      height: 100%;
    }
    
    .sidenav-filters {
      height: calc(100% - 64px);
      overflow: hidden auto;

      .filter-container {
        padding: 0 10px;
  
        mat-form-field {
          width: 100%;
        }
  
        label {
          padding: 10px 0;
          display: flex;
          align-items: center;
        }
      }
    }


  }
  
  .app-sidenav-content{
    overflow: hidden;

    .app-sidenav-toolbar {
      .search-container {
        width: 100%;
        form {
          width: 100%;
          mat-form-field {
            width: 100%;
          }
        }
      }
    }

    .app-main {
      height: 100%;

      .flexbox-container {
        padding: 5px;
        height: calc(100% - 64px);
        overflow: hidden auto;
      
        .flexbox-item {
          padding: 5px;
        }
      }
    }
  }
}

.flex-separator {
  flex: 1;
  text-align: right;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}