.app-sidenav-container {
  width: 100vw;
  height: 100%;

  .app-sidenav {
    width: 270px;
    box-sizing: border-box;
    height: 100%;

    ::ng-deep .mat-drawer-inner-container {
      overflow: hidden;
      height: 100%;
    }
    
    .sidenav-filters {
      height: calc(100% - 74px); // - 64px - padding
      padding: 5px;
      overflow: hidden auto;

      .filter-container {
        padding: 0 10px;
  
        mat-form-field,
        mat-checkbox {
          width: 100%;
        }

        .mat-mdc-slider {
          display: block;
        }
  
        label {
          padding: 10px 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .info-button {
      font-family: 'ElysiumBold';
      font-size: 20px;

      .invalid-deck .mat-badge-content {
        font-family: 'Material Icons';
        color: var(--warn-color);
        background: none;
        font-size: 1.1rem;
      }
    }

    .sidenav-deck {
      height: calc(100% - 84px); // - 64px - padding
      overflow: hidden auto;
      padding: 10px;
      position: relative;

      .anachronism-card {
        border: 2px solid rgba(0, 0, 0, 1);
        position: absolute;
        width: calc(100% - 20px); // 100% - padding
        margin-top: calc(30% * (var(--index))); /* adjust margin-top to control overlap */
        transition: margin-top 0.3s ease;
        cursor: move;
        &:hover ~ .anachronism-card {
          margin-top: calc((30% * (var(--index))) + 100% + 10px);
        }
        &.invalid-card {
          border-color: var(--warn-color);
        }
      }

    }

  }
  
  .app-sidenav-content{
    overflow: hidden;

    .app-sidenav-toolbar {

      .mat-badge-content {
        border-radius: 50px;
        width: auto;
        padding: 0 10px;
      }
      
      .search-container {
        width: 100%;
        
        form {
          width: 100%;
      
          mat-form-field {
            width: 100%;
            ::ng-deep .mdc-text-field {
              border-radius: 100px;
            }
          }
        }
      }
    }

    .app-main {
      height: 100%;

      .flexbox-container {
        padding: 5px;
        height: calc(100% - 64px);
        overflow: hidden auto;
      
        .flexbox-item {
          padding: 5px;
        }
      }

      .anachronism-card {
        border: 2px solid rgba(0, 0, 0, 1);
        transition: scale 0.3s ease;
        cursor: pointer;
        &:hover {
          border-color: var(--primary-color);
          scale: 1.2;
          z-index: 1000;
          cursor: pointer;
        }
      }

    }
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 0.3 ease;
}

.anachronism-card.cdk-drop-list-dragging .anachronism-card:not(.cdk-drag-placeholder) {
  transition: transform 0.3 ease;
}

.middot {
  font-size: 2rem;
}

.disabled-color {
  color: lightgrey;
  text-decoration: line-through;
}

.input-centered {
  input {
    text-align: center;
    vertical-align: middle;
  }
}