mat-card {
  height: 95vh;
  max-width: 95vw;
  box-shadow: none !important;

  img {
    border-top-right-radius: 0;
  }

  .card-information {
    display: flex;
    flex-direction: column;
    width: 100%;

    mat-card-content {
      border-top: 1px solid var(--primary-color);
      padding: 16px;
      color: var(--mat-card-subtitle-text-color);
    }

    ::ng-deep .mat-mdc-chip-action-label {
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }

  mat-card-header {
    padding: 16px;
  }

}
