mat-card {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 90vh;
  max-width: 90vw;
  overflow: hidden;
  box-shadow: none !important;

  img {
    border-top-right-radius: 0;
  }

  .card-information {
    display: flex;
    flex-direction: column;
    width: 100%;

    mat-card-content {
      border-top: 1px solid var(--primary-color);
      padding: 16px;
      color: var(--mat-card-subtitle-text-color);
    }

    & :last-child {
      // align-self: flex-end;
    }

  }

  mat-card-header {
    padding: 16px;
  }

}
