<mat-card tabindex="0">
  <img mat-card-image [src]="'assets/cards/' + card.set + '_' + card.number + '.jpg'" [alt]="card.name" class="info-card">
  <div class="card-information" fxShow fxHide.lt-md>
    <mat-card-header fxLayout="row">
      <mat-card-title-group>
        <mat-card-title class="primary-color">{{ card.name.toUpperCase() }}</mat-card-title>
        <mat-card-subtitle>{{ card.type }}</mat-card-subtitle>
      </mat-card-title-group>
      <div fxFlex></div>
      <button mat-icon-button color="primary" (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <ng-container *ngFor="let culture of card.culture">
        <mat-chip highlighted><mat-icon>flag</mat-icon>{{ culture }}</mat-chip>&nbsp;
      </ng-container>
      <mat-chip highlighted><mat-icon>text_fields</mat-icon>{{ card.type }}</mat-chip>&nbsp;
      <ng-container *ngFor="let subtype of card.subtype">
        <mat-chip highlighted><mat-icon>format_size</mat-icon>{{ subtype }}</mat-chip>&nbsp;
      </ng-container>
    </mat-card-content>
    <mat-card-content>
      <ng-container *ngIf="card.initiative">
        <mat-chip highlighted color="accent"><mat-icon>balance</mat-icon>{{ card.initiative }}</mat-chip>&nbsp;
      </ng-container>
      <ng-container *ngIf="card.life">
        <mat-chip highlighted color="accent"><mat-icon>favorite</mat-icon>{{ card.life }}</mat-chip>&nbsp;
      </ng-container>
      <ng-container *ngIf="card.speed">
        <mat-chip highlighted color="accent"><mat-icon>hourglass_bottom</mat-icon>{{ card.speed }}</mat-chip>&nbsp;
      </ng-container>
      <ng-container *ngIf="card.experience">
        <mat-chip highlighted color="accent"><mat-icon>star</mat-icon>{{ card.experience }}</mat-chip>&nbsp;
      </ng-container>
      <ng-container *ngIf="card.damage">
        <mat-chip highlighted color="accent"><mat-icon>opacity</mat-icon>{{ card.damage }}</mat-chip>&nbsp;
      </ng-container>
      <ng-container *ngIf="card.hands">
        <mat-chip highlighted color="accent"><mat-icon>sign_language</mat-icon>{{ card.hands }}</mat-chip>&nbsp;
      </ng-container>
      <ng-container *ngIf="card.element">
        <mat-chip highlighted color="accent"><mat-icon>park</mat-icon>{{ card.element }}</mat-chip>&nbsp;
      </ng-container>
    </mat-card-content>
    <mat-card-content>{{ card.text }}</mat-card-content>
    <mat-card-content class="italic-font">{{ card.flavor }}</mat-card-content>
    <mat-card-content>Analects: {{ card.analects || '-' }}</mat-card-content>
    <mat-card-content class="italic-font">Illustrated by {{ card.artist }}</mat-card-content>
    <mat-card-content>
      <mat-chip highlighted color="warn"><mat-icon>swap_vert</mat-icon>{{ card.set }}</mat-chip>&nbsp;
      <mat-chip highlighted color="warn"><mat-icon>tag</mat-icon>{{ card.number }}</mat-chip>&nbsp;
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="end end">
      <button mat-flat-button color="primary" (click)="addCardToDeck(card, $event)">ADD TO DECK</button>
    </mat-card-actions>
  </div>
</mat-card>
